.contents_frame {
    padding: 10px;
}

.title_frame,
.radar_frame,
.form_frame {
    width: 351px;
}

.title_frame {
    margin-bottom: 10px;
}

.radar_frame {
    margin-bottom: 10px;
    position: relative;
    height: 351px;
    background-color: #000000;
}

.form_frame {
    padding: 5px;
    background-color: #000000;
    color: #aaccff;
}
