* {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.contents_frame {
    margin-top: 5px;
    margin-left: 5px;
    border: none;
    border-collapse: collapse;
}

.title_frame,
.radar_frame,
.form_frame {
    width: 351px;
}

.info_frame {
    vertical-align: top;
}

.row_spacer {
    height: 10px;
}

.col_spacer {
    width: 10px;
}

.title {
    padding: 5px 0px;
    text-align: center;
    background-color: #000000;
    color: #aaccff;
}

.radar_frame {
    position: relative;
    height: 351px;
    background-color: #000000;
}

.form {
    padding: 5px;
    background-color: #000000;
    color: #aaccff;
}

.info {
    padding: 2px;
    border: solid 1px #ccaaaa;
    background-color: #fffcfe;
}

.name {
    color: #ff4444;
}
