* {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

table#contents_frame {
    margin-top: 5px;
    margin-left: 5px;
    border: none;
    border-collapse: collapse;
}

td#title_frame,
td#radar_frame,
td#form_frame {
    width: 351px;
}

td#info_frame {
    vertical-align: top;
}

td.row_spacer {
    height: 10px;
}

td.col_spacer {
    width: 10px;
}

div#title {
    padding: 5px 0px;
    text-align: center;
    background-color: #000000;
    color: #aaccff;
}

div#radar {
    position: relative;
    height: 351px;
    #background-color: #99aabb;
    background-color: #000000;
}

div#form {
    padding: 5px;
    background-color: #000000;
    color: #aaccff;
}

div#info {
    padding: 2px;
    border: solid 1px #ccaaaa;
    background-color: #fffcfe;
}

span#name {
    color: #ff4444;
}
